backend/venv/
backend/.venv/
.venv/
venv
.C:\Artemy\Programming\Сalculator8thFloor\-alculator8thFloor\backend\.venv
**/__pycache__/
backend\calculator8thFloor\calculatorFactPlan\__pycache__
backend\calculator8thFloor\calculatorFactPlan\components\__pycache__
backend\calculator8thFloor\calculatorFactPlan\migrations\__pycache__
backend\calculator8thFloor\db.sqlite3