* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Aeonik Pro';
    src: url('../font/AeonikPro-Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Aeonik Pro';
    src: url('../font/AeonikPro-Regular.otf') format('opentype');
    font-weight: bold;
}


body {
    background-image: url('../img/Card.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Aeonik Pro', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    outline: none;
}

a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

.login-header {
    padding-top: 30px;
    padding-left: 60px;
    margin-bottom: 190px;
}

.login-input {
    width: 600px;
    height: 15px;
    padding: 17px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: solid white 2px;
    border-bottom-width: 0;
    color: white;
    background-color: transparent;
    font-size: 18px;
}

.password-input {
    width: 600px;
    height: 15px;
    padding: 17px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid white 2px;
    color: white;

    background-color: transparent;
    font-size: 18px;
}

.password-input::placeholder,
.login-input::placeholder {
    font-size: 18px;
    color: #F59D0E;
}


.input-form {
    display: flex;
    width: 662px;
    margin: 0 auto;
}

.login-and-password {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    font-size: 18px !important;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}


/*--------------------inputData--------------------*/

.inputData-navigation {
    padding-top: 20px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.headerButtons{
    display: flex;
    width: 1250px;
}

.calculator-type-button {
    width: 160px;
    height: 40px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 10px;
    background-color: rgba(24, 24, 24, 0.7);
    color: white;
    margin-right: 20px;
    padding-left: 20px;
    border: 2px solid white;
    transition: border-color 0.2s ease;
}



.nav-calculator-type-button {
    border: 0px solid white;
}

.nav-calculator-type-button :hover {
    border: 2px solid white;
}

.calculator-type-button:hover {
    border-color: #F59D0E;
}

.calculator-type-button.wide {
    width: 210px;
    margin-left: 100px;
}

.calculator-type-button-quit {
    width: 180px;
    height: 40px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 10px;
    background-color: rgba(24, 24, 24, 0.7);
    color: white;
    margin-right: 20px;
    padding-left: 20px;
    border: 2px solid white;
    transition: border-color 0.2s ease;
}

.calculator-type-button-quit:hover {
    border-color: #9E2626;
}

.calculator-type-button-newdata {
    width: 270px;
    height: 50px;
    font-size: 20px;
    line-height: 18px;
    border-radius: 10px;
    background-color: rgba(24, 24, 24, 0.7);
    color: white;
    margin-right: 20px;
    padding-left: 20px;
    border: 2px solid white;
    transition: border-color 0.2s ease;
}

.calculator-type-button-newdata:hover {
    border-color: #F59D0E;
}

.calculator-type-button-export {
    width: 120px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 10px;
    background-color: rgba(24, 24, 24, 0.6);
    color: #F59D0E;
    padding-left: 20px;
    border: 2px solid transparent;
    transition: border-color 0.2s ease;
    white-space: nowrap;
}

.calculator-type-button-export.active {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid #F59D0E;
}

.calculator-type-button-export.type {
    border: 2px solid #F59D0E;
    border-radius: 0;
    border-left: 0;
    padding-left: 18px;
    padding-right: 12px;
    color: white;
}

.calculator-type-button-export.type.last {
    border-radius: 0 10px 10px 0;
    border-left: 0;
}


.calculator-type-button-export:hover {
    border-color: #F59D0E;
}

.calculator-type-button-export.type:hover {
    border: 2px solid #F59D0E;
    border-left: 0;
    color: #F59D0E;
}

.input-data-main-form {
    width: 1010px;
    height: 510px;
    padding: 30px 90px 30px 60px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    background-color: rgba(27, 27, 27, 0.8);
}

.input-data-main-form h1 {
    margin-bottom: 40px;
    font-size: 40px;
}

/*вводы*/

.input-container {
    display: flex;
    margin-bottom: 40px;

}

.input-container p {
    display: block;
    width: 600px;
    font-size: 24px;
    align-self: center;
    margin-right: 40px;
}

.input-container input {
    width: 90px;
    height: 48px;
    padding-left: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 3px;
    margin-right: 20px;
    align-self: center;
}

.input-wrapper {
    position: relative;
    display: inline-flex;

}

.input-icon {
    position: absolute;
    top: 5%;
    left: 10px;
    transform: translateY(-50%);
    width: 32px;
    height: 19px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #1b1b1b;
}

.min-fact {
    width: 23px;
    height: 11px;
}

.night {
    width: 25px;
    height: 12px;
    padding-left: 2px;
    padding-right: 2px;
}

.calculate-buttons {
    display: flex;
}

.calculate-button {
    width: 260px;
    height: 55px;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 20px;
    transition: border-color 0.2s ease;
    font-size: 24px;
}

.calculate-button.second {
    width: 320px;
    margin-left: 60px;
}


.calculate-button:hover {
    border-color: #F59D0E;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*-------inputData-end----------*/



/*---------superuser-panel------------*/
.table-wrapper {
    width: 990px;
    margin: 0 auto;
    color: white;
    border: solid 1px white;
    margin-bottom: 50px;
    border-collapse: separate;
    border-radius: 20px;
    padding: 10px 50px 30px 50px;
    font-size: 16px;
    background-color: rgba(24, 24, 24, 0.85);
}

.users {
    margin-bottom: 50px;
    width: 990px;

}

.users th {
    padding: 10px;
    text-align: left;
}

.users tr {
    border-bottom: 1px solid transparent;
    position: relative;
}

.users thead tr:hover {
    cursor: default;
}

.users tr:hover {
    cursor: pointer;
}

.users tr::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #4a4a4a;
}

.users td {
    padding: 10px;
    text-align: left;
}

.edit-buttons {
    display: flex;
    justify-content: flex-end;
}

.change-button {
    margin-right: 20px;
    visibility: hidden;
    pointer-events: auto;
}

.delete-button {
    visibility: hidden;
    pointer-events: auto;
    padding-right: 10px;
}

.add-user {
    padding: 10px;
    border: solid 2px white;
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    transition: border-color 0.2s ease;
}

.add-user:hover {
    border-color: #F59D0E;
}

.register {
    display: none;
    justify-content: space-between;
    gap: 10px;
}

.register input,
.change-password-container input {
    display: inline-block;

    background-color: transparent;
    border: none;
    border-bottom: solid 1px #4a4a4a;
    color: white;
    height: 40px;
    width: 220px;
}

.input-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-inner small {
    font-size: 11px;
}

.password-container {
    display: flex;
    flex-direction: column;
}

.password-container input {
    height: 40px;
}

.confirm-add-user,
.send-changed-password {
    height: 40px;
    border: solid 2px white;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 20px;
    margin: auto 0;
    transition: border-color 0.2s ease;
}

.confirm-add-user:hover,
.send-changed-password:hover {
    border-color: #F59D0E;
}

.change-password-container {
    display: flex;
    justify-content: right;
    gap: 15px;
}

.return-back {
    margin-left: 300px;
}

/*---------superuser-panel-end------------*/



/*----------TABLES--------------*/
.body-container {
    width: 1450px;
    display: flex;
    flex-direction: column;
}

.table {
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    font-weight: 200;
}

.table th {
    text-align: left;
    padding: 8px;

    font-weight: 500;
}

.table th,
.table td {
    border: 0.1px solid white;
    text-align: left;
    padding: 8px;
}

.table th:first-child,
.table td:first-child {
    width: 170px; /* Adjust the width as needed */
}

.table td img {
    width: 20px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between image and text */
    vertical-align: middle; /* Align image with text */
}


.table-container {
    display: flex;
    margin: 0 auto 40px auto;
}

.vertical-text {
    color: white;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    margin-right: 25px;
    font-size: 30px;
    font-weight: normal;
}

.vertical-text p {
    display: block;
    margin-bottom: 3px;
}

.fact-table {
    width: 1180px;
    background-color: rgba(24, 24, 24, 0.7);
}

.plan-table {
    width: 1180px;
    background-color: rgba(24, 24, 24, 0.7);
}

.forbidden:hover {
    pointer-events: none; 
    cursor: not-allowed; 
}

/* temp styles */

.temp-p {
    color: white;
    font-size: 100px;
    text-align: center;
}

.temp-div {
    margin-right: auto;
    margin-left: auto;
}

.day{
    background-image: url('../img/day.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 30px;
}

.night{
    background-image: url('../img/night.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0px;
}

.weekend{
    background-image: url('../img/weekend.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 60px;
    margin-left: 60px;
}

